header h1 {
    background-color: lightblue;
    color: white;
    padding: 20px;
}

.main {
    background-color: white;
    padding: 20px;
}

footer {
    background-color: lightgrey;
    color: gray;
    padding: 10px;
    text-align: center;
}

.theme-blue {
    background-color: rgb(217, 245, 255);
    color: blue;
}

.theme-green {
    background-color: rgb(212, 255, 212);
    color: green;
}

.theme-pink {
    background-color: rgb(255, 227, 231);
    color: hotpink;
}

button {
    margin: 5px 0;
    padding: 8px 12px;
}