body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
}

#info {
    margin-bottom: 10px;
    font-size: 18px
}

#reset {
    margin-left: 15px;
    padding: 5px 12px;
    cursor: pointer;
}

#game {
    margin: 20px auto;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
}

.card {
    width: 80px;
    height: 120px;
    background: #c21eba;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border-radius: 8px;
    user-select: none;
}

.card.open {
    background: #3adbd3;
}

#clearMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.clear-box {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    color: #b331d6;

}

.clear-box button {
    margin-top: 10px;
    padding: 8px 18px;
    font-size: 16px;
    cursor: pointer;
}